asgiref==3.5.2; python_version >= "3.8"
backports.zoneinfo==0.2.1; python_version < "3.9" and python_version >= "3.8"
beautifulsoup4==4.11.1; python_full_version >= "3.6.0" and python_version >= "3.7"
django-bootstrap4==22.1; python_version >= "3.7"
django-filter==22.1; python_version >= "3.7"
django==4.0.6; python_version >= "3.8"
gunicorn==20.1.0; python_version >= "3.5"
python-dotenv==0.20.0; python_version >= "3.5"
soupsieve==2.3.2.post1; python_full_version >= "3.6.0" and python_version >= "3.7"
sqlparse==0.4.2; python_version >= "3.8"
tzdata==2022.1; sys_platform == "win32" and python_version >= "3.8"
