{% extends 'index.html' %}
{% load i18n %}
{% block content %}
<title>{{ list_of_users }}</title>
 <h1 class="my-4">{% translate 'Пользователи' %}</h1>
 <table class="table">
   <thead class="thead-dark">
     <tr>
         <th scope="col">ID</th>
         <th scope="col">{% translate 'Имя' %}</th>
         <th scope="col">{% translate 'Полное имя' %}</th>
         <th scope="col">{% translate 'Дата создания' %}</th>
         <th scope="col"></th>
     </tr>
   </thead>
     {% for user in application_users %}
   <tbody>
     <tr>
         <th scope="row"">{{ user.id }}</th>
         <td>{{ user.username }}</td>
         <td>{{ user.first_name}} {{ user.last_name }}</td>
         <td>{{ user.date_joined|date:"d.m.Y H:i" }}</td>
         <td>
             <a class="text-decoration-none" href="#">{% translate 'Изменить' %}</a>
             <a>/</a>
             <a class="text-decoration-none" href="#">{% translate 'Удалить' %}</a>
         </td>
     </tr>
   </tbody>
     {% endfor %}
 </table>
{% endblock %}
