{% extends 'index.html' %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}
<h1 class="my-4">{% trans 'Задачи' %}</h1>
   <a class="nav-link" href="{% url 'create_task' %}">{% trans 'Создать задачу' %}</a>
    <div class="card mb-3">
        <div class="card-body bg-light text-dark">
            <form class="form-inline center my-auto" method="get">
              {% csrf_token %}
              {% bootstrap_form filter.form field_class="ml-2 mr-2" %}
              <input class="btn btn-primary" type="submit" value={% trans 'Показать' %}>
            </form>
        </div>
    </div>
 <table class="table">
   <thead class="thead-dark">
     <tr>
         <th scope="col">ID</th>
         <th scope="col">{% trans 'Имя' %}</th>
         <th scope="col">{% trans 'Статус' %}</th>
         <th scope="col">{% trans 'Автор' %}</th>
         <th scope="col">{% trans 'Исполнитель' %}</th>
         <th scope="col">{% trans 'Дата создания' %}</th>
         <th scope="col"></th>
     </tr>
   </thead>
     {% for task in list_Of_tasks %}
   <tbody>
     <tr>
         <th scope="row"">{{ task.id }}</th>
         <td><a class="text-decoration-none" href="{% url 'view_task' task.id %}">{{ task.name }}</a></td>
         <td>{{ task.status }}</td>
         <td>{{ task.author }}</td>
         <td>{{ task.executor }}</td>
         <td>{{ task.created_at|date:"d.m.Y H:i" }}</td>
         <td>
             <a class="text-decoration-none" href="{% url 'update_task' task.id %}">{% trans 'Изменить' %}</a>
             <a>/</a>
             <a class="text-decoration-none" href="{% url 'delete_task' task.id %}">{% trans 'Удалить' %}</a>
         </td>
     </tr>
   </tbody>
     {% endfor %}
 </table>
{% endblock %}
