{% extends 'index.html' %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}
<h1 class="my-4">Просмотр задачи</h1>

<div class="card">
  <div class="card-header bg-secondary text-white">
    <h2>{{ task.name }}</h2>
  </div>
  <div class="card-body bg-light">
    <p>{{ task.description }}</p>
    <hr>
    <div class="container">
      <div class="row p-1">
        <div class="col">Автор</div>
        <div class="col">{{ task.author }}</div>
      </div>
      <div class="row p-1">
        <div class="col">Исполнитель</div>
        <div class="col">{{ task.executor }}</div>
      </div>
      <div class="row p-1">
        <div class="col">Статус</div>
        <div class="col">{{ task.status }}</div>
      </div>
      <div class="row p-1">
        <div class="col">Дата создания</div>
        <div class="col">{{ task.created_at|date:"d.m.Y H:i" }}</div>
      </div>
      <div class="row p-1">
        <div class="col">
          <a class="text-decoration-none" href="{% url 'update_task' task.id %}">{% trans 'Изменить' %}</a>
          <br>
          <a class="text-decoration-none" href="{% url 'delete_task' task.id %}">{% trans 'Удалить' %}</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
